<br>
<h1 class="text-3xl text-center"><%= matchup.team.emoji %> <%= matchup.team.slug.upcase %> Vs. <%= matchup.team_defense.emoji %> <%= matchup.team_defense.slug.upcase %></h1>
<br>

<div class="flex flex-col md:flex-row md:justify-center gap-4">  
  <!-- First Graphic (Rushing) -->
  <div class="w-full md:w-1/2 max-w-xl mx-auto p-6 bg-blue-50 rounded-lg shadow-lg">
    <h5 class="text-xl font-semibold text-center mb-6">Rushing Matchup</h5>
    <h2 class="text-2xl font-semibold text-center mb-6">4.2 Yards Per Rush</h2>

    <div class="grid gap-2 justify-center text-center">
      <!-- Rushing -->
      <div class="flex justify-center">
        <div class="group <%= matchup.tier_class_offense(matchup.rush_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>Rush</span>
          <%= render 'matchups/tooltip', players: matchup.rushing_tandem.order_rushing, tier_method: :rushing_tier, grade_method: :rushing_grade %>
        </div>
      </div>
      <!-- O-Line -->
      <div class="flex justify-center space-x-2">
        <div class="group <%= matchup.tier_class_offense(matchup.exterior_rush_block_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>RT</span>
          <%= render 'matchups/tooltip', players: matchup.tackles.order_run_block, tier_method: :rush_block_tier, grade_method: :run_block_grade %>
        </div>
        <div class="group <%= matchup.tier_class_offense(matchup.interior_rush_block_tier) %> w-32 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>Interior</span>
          <%= render 'matchups/tooltip', players: matchup.interior_oline.order_run_block, tier_method: :rush_block_tier, grade_method: :run_block_grade %>
        </div>
        <div class="group <%= matchup.tier_class_offense(matchup.exterior_rush_block_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>LT</span>
          <%= render 'matchups/tooltip', players: matchup.tackles.order_run_block, tier_method: :rush_block_tier, grade_method: :run_block_grade %>
        </div>
      </div>
    </div>
    <!-- Divider -->
    <div class="relative flex items-center justify-center my-2 container">
        <div class="flex-1 border-t-2 border-gray-300"></div>
        <div class="absolute -top-6 left-0 text-gray-500"><%= matchup.team.emoji %> Off</div>
        <div class="absolute top-0 left-0 text-gray-500"><%= matchup.team_defense.emoji %> Def</div>
    </div>
    <!-- Defense -->
    <div class="grid gap-2 justify-center text-center">    
      <!-- D-Line -->
      <div class="flex justify-center space-x-2">
        <div class="group <%= matchup.tier_class_defense(matchup.exterior_rush_defense_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>EDGE</span>
          <%= render 'matchups/tooltip', players: matchup.edge_rushers.order_rush_defense, tier_method: :rush_defense_tier, grade_method: :rush_defense_grade %>
        </div>
        <div class="group <%= matchup.tier_class_defense(matchup.interior_rush_defense_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>DE</span>
          <%= render 'matchups/tooltip', players: matchup.defensive_ends.order_rush_defense, tier_method: :rush_defense_tier, grade_method: :rush_defense_grade %>
        </div>
        <div class="group <%= matchup.tier_class_defense(matchup.exterior_rush_defense_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>EDGE</span>
          <%= render 'matchups/tooltip', players: matchup.edge_rushers.order_rush_defense, tier_method: :rush_defense_tier, grade_method: :rush_defense_grade %>
        </div>
      </div>
      <!-- Linebackers -->
      <div class="flex justify-center">
        <div class="group <%= matchup.tier_class_defense(matchup.linebacker_rush_defense_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>LB</span>
          <%= render 'matchups/tooltip', players: matchup.linebackers.order_rush_defense, tier_method: :rush_defense_tier, grade_method: :rush_defense_grade %>
        </div>
      </div>
      <!-- Safeties -->
      <div class="flex justify-center">
        <div class="group <%= matchup.tier_class_defense(matchup.safety_rush_defense_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>S</span>
          <%= render 'matchups/tooltip', players: matchup.safeties.order_rush_defense, tier_method: :rush_defense_tier, grade_method: :rush_defense_grade %>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Graphic (Passing) -->
  <div class="w-full md:w-1/2 lg:w-full max-w-xl mx-auto p-6 bg-blue-50 rounded-lg shadow-lg text-center">
    <h5 class="text-xl font-semibold text-center mb-6">Passing Matchup</h5>
    <h2 class="text-2xl font-semibold text-center mb-4">
      3.2 Second Pocket<br/>4.2 Yards Per Attempt
    </h2>

    <div class="grid gap-2 justify-center">
      <div class="flex justify-center space-x-8">
        <div class="group ml-8 <%= matchup.tier_class_offense(matchup.passer_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>QB</span>
          <%= render 'matchups/tooltip', players: [matchup.qb], tier_method: :passing_tier, grade_method: :passing_grade %>
        </div>
        <span class="w-20 px-2 py-2"></span>
      </div>
      <div class="flex justify-center space-x-2">
        <div class="group ml-8 <%= matchup.tier_class_offense(matchup.exterior_pass_block_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>RT</span>
          <%= render 'matchups/tooltip', players: matchup.tackles.order_pass_block, tier_method: :pass_block_tier, grade_method: :pass_block_grade %>
        </div>
        <div class="group <%= matchup.tier_class_offense(matchup.interior_pass_block_tier) %> w-32 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>Interior</span>
          <%= render 'matchups/tooltip', players: matchup.interior_oline.order_pass_block, tier_method: :pass_block_tier, grade_method: :pass_block_grade %>
        </div>
        <div class="group <%= matchup.tier_class_offense(matchup.exterior_pass_block_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>LT</span>
          <%= render 'matchups/tooltip', players: matchup.tackles.order_pass_block, tier_method: :pass_block_tier, grade_method: :pass_block_grade %>
        </div>
        <span class="w-2 px-2 py-2"></span>
        <div class="group <%= matchup.tier_class_offense(matchup.reciever_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>WRs</span>
          <%= render 'matchups/tooltip', players: matchup.top_three_receivers.order_receiving, tier_method: :receiving_tier, grade_method: :receiving_grade %>
        </div>
      </div>
      <div class="flex justify-center">
      </div>
    </div>
    <!-- Divider -->
    <div class="relative flex items-center justify-center my-2 container">
        <div class="flex-1 border-t-2 border-gray-300"></div>
        <div class="absolute -top-6 left-0 text-gray-500"><%= matchup.team.emoji %> Off </div>
        <div class="absolute top-0 left-0 text-gray-500"><%= matchup.team_defense.emoji %> Def </div>
    </div>
    <!-- Defense -->
    <div class="grid gap-2 justify-center">
      <div class="flex justify-center space-x-2 ml-8">
        <span class="w-4 px-2 py-2"></span>
        <div class="group <%= matchup.tier_class_defense(matchup.exterior_rush_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>EDGE</span>
          <%= render 'matchups/tooltip', players: matchup.edge_rushers.order_pass_rush, tier_method: :pass_rush_tier, grade_method: :pass_rush_grade %>
        </div>
        <div class="group <%= matchup.tier_class_defense(matchup.interior_rush_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>DE</span>
          <%= render 'matchups/tooltip', players: matchup.defensive_ends.order_pass_rush, tier_method: :pass_rush_tier, grade_method: :pass_rush_grade %>
        </div>
        <div class="group <%= matchup.tier_class_defense(matchup.exterior_rush_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>EDGE</span>
          <%= render 'matchups/tooltip', players: matchup.edge_rushers.order_pass_rush, tier_method: :pass_rush_tier, grade_method: :pass_rush_grade %>
        </div>
        <span class="w-10 px-2 py-2"></span>
        <div class="group <%= matchup.tier_class_defense(matchup.corner_coverage_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>CB</span>
          <%= render 'matchups/tooltip', players: matchup.cornerbacks.order_coverage, tier_method: :coverage_tier, grade_method: :coverage_grade %>
        </div>
      </div>
            <div class="flex justify-center">
        <div class="group ml-8 <%= matchup.tier_class_defense(matchup.linebacker_coverage_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>LB</span>
          <%= render 'matchups/tooltip', players: matchup.linebackers.order_coverage, tier_method: :coverage_tier, grade_method: :coverage_grade %>
        </div>
        <span class="w-28 px-4 py-2"></span>
      </div>
      <div class="flex justify-center">
        <div class="group ml-8 <%= matchup.tier_class_defense(matchup.safety_coverage_tier) %> w-20 px-4 py-2 border rounded-full transition-transform cursor-pointer hover:scale-110">
          <span>S</span>
          <%= render 'matchups/tooltip', players: matchup.safeties.order_coverage, tier_method: :coverage_tier, grade_method: :coverage_grade %>
        </div>
        <span class="w-28 px-4 py-2"></span>
      </div>
    </div>
  </div>
</div>