<!DOCTYPE html>
<html>
<head>
  <title>Matchups - Season 2025, Week 1</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">
  <h1 class="text-2xl font-bold text-center my-6">Matchups for Season 2025, Week 1</h1>
  <div class="container mx-auto px-4">
    <table class="table-auto border-collapse border border-gray-300" style="width: 1600px;">
      <thead>
        <tr class="bg-gray-200">
          <th rowspan="2" class="border border-gray-300 px-4 py-2">Team</th>
          <th colspan="4" class="border border-gray-300 px-4 py-2">Offense</th>
          <th rowspan="2" class="border border-gray-300 px-4 py-2">Defense</th>
          <th colspan="5" class="border border-gray-300 px-4 py-2">Units</th>
        </tr>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 px-4 py-2">Passer</th>
          <th class="border border-gray-300 px-4 py-2">Receiver</th>
          <th class="border border-gray-300 px-4 py-2">Interior</th>
          <th class="border border-gray-300 px-4 py-2">Exterior</th>
          <th class="border border-gray-300 px-4 py-2">Interior</th>
          <th class="border border-gray-300 px-4 py-2">Exterior</th>
          <th class="border border-gray-300 px-4 py-2">Linebackers</th>
          <th class="border border-gray-300 px-4 py-2">Safeties</th>
          <th class="border border-gray-300 px-4 py-2">Cornerbacks</th>
        </tr>
      </thead>    
      <tbody>
        <% @matchups.each do |matchup| %>
          <tr class="bg-white">
            <td class="border border-gray-300 px-4 py-2"><%= matchup.team.emoji %> <%= matchup.team.slug.upcase %></td>
            <td class="border border-gray-300 px-4 py-2 <%= matchup.tier_class(matchup.passer_tier) %>">
              <b><%= matchup.passer_tier %></b> <%= matchup.qb.last_name rescue "-" %> <br><i><%= matchup.passer_score %></i>
            </td>
               
            <%= render partial: 'unit_column', locals: { 
                matchup: matchup, tier: matchup.reciever_tier, score: matchup.reciever_score, players: matchup.top_three_receivers, grade: 'receiving_grade'
            } %>
            <%= render partial: 'unit_column', locals: { 
                matchup: matchup, tier: matchup.interior_pass_block_tier, score: matchup.interior_pass_block_score, players: matchup.interior_oline, grade: 'pass_block_grade'
            } %>
            <%= render partial: 'unit_column', locals: { 
                matchup: matchup, tier: matchup.exterior_pass_block_tier, score: matchup.exterior_pass_block_score, players: matchup.exterior_oline, grade: 'pass_block_grade'
            } %>
            
            <td class="border border-gray-300 px-4 py-2"><%= matchup.team_defense.emoji %> <%= matchup.team_defense_slug.upcase %></td>

            <%= render partial: 'unit_column', locals: { 
                matchup: matchup, tier: matchup.interior_rush_tier, score: matchup.interior_rush_score, players: matchup.defensive_ends, grade: 'pass_rush_grade'
            } %>

            <%= render partial: 'unit_column', locals: { 
                matchup: matchup, tier: matchup.exterior_rush_tier, score: matchup.exterior_rush_score, players: matchup.edge_rushers, grade: 'pass_rush_grade'
            } %>
            <%= render partial: 'unit_column', locals: { 
                matchup: matchup, tier: matchup.linebacker_coverage_tier, score: matchup.linebacker_coverage_score, players: matchup.linebackers, grade: 'coverage_grade'
            } %>

            <%= render partial: 'unit_column', locals: { 
                matchup: matchup, tier: matchup.safety_coverage_tier, score: matchup.safety_coverage_score, players: matchup.safeties, grade: 'coverage_grade'
            } %>
            <%= render partial: 'unit_column', locals: { 
                matchup: matchup, tier: matchup.corner_coverage_tier, score: matchup.corner_coverage_score, players: matchup.cornerbacks, grade: 'coverage_grade'
            } %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
