<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Turf Monster' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <% if content_for?(:meta_description) %>
      <meta name="description" content="<%= yield(:meta_description) %>">
    <% end %>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="<%= asset_path('turf-monster-icon.png') %>">
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('turf-monster-icon.png') %>">
    <link rel="apple-touch-icon" href="<%= asset_path('turf-monster-icon.png') %>">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    
    <!-- HubSpot Form -->
    <script src="https://js-na2.hsforms.net/forms/embed/243754230.js" defer></script>
    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
          extend: {}
        }
      }
      
      // Debug dark mode
      console.log('Dark mode config loaded');
    </script>
  </head>

  <body class="theme-bg-secondary min-h-screen" 
        data-controller="theme"
        data-theme-system-preference-value="true">
    
    <!-- Universal Navbar -->
    <%= render 'shared/navbar' %>
    
    <!-- Main Content -->
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-0">
      <%= yield %>
    </main>
  </body>
</html>
